.nombres {
    position: absolute;
    left: 425px;
    font-size: var(--font-size-xl);
    top: 491px; /* Hereda el valor común */
    margin: 0%;
    font-weight: bold;
  }
  .fechas {
    position: absolute;
    left: 775px;
    font-size: var(--textos-size);
    top: 493px; /* Hereda el valor común */
    margin: 0%;
  }
  .linediv{
    position: absolute;
    top: 486px;
    left: 755px;
    border-right: 2px solid var(--black-icon);
    box-sizing: border-box;
    width: 4px;
    height: 40px;
  }
.Caja{
    position: absolute;
    top: 470px;
    left: 322px;
    border-radius: var(--br-xl);
    background-color: var(--white-icon);
    width: 588px;
    height: 65px;
}
.Elipse{
    position: absolute;
    top: 463px;
    left: 306px;
    border-radius: 50%;
    background-color: var(--white-icon);
    border: 2px solid var(--black-icon);
    box-sizing: border-box;
    width: 88px;
    height: 79px;
}
.img{
    position: absolute;
    top: 480px;
    left: 326px;
    width: 48.66px;
    height: 40.46px;

}

.ojo{
    height: 4.3%;
    width: 3.06%;
    position: absolute;
    top: 480px;
    left: 1080px;
    width: 100px;
    height: 45px;
    cursor: pointer;
}
.ojoMa{
    position: absolute;
    top: 469px;
    left: 1070px;
    width: 114px;
    height: 70px;
    cursor: pointer;
}
.lax{
    position: absolute;
    top: 480px;
    left: 1229px;
    width: 100px;
    height: 50px;
    cursor: pointer;
}
.contlax{
    position: absolute;
    top: 469px;
    left: 1224px;
    border-radius: var(--br-xl);
    background-color: var(--cta);
    width: 114px;
    height: 70px;
    cursor: pointer;
}