.mensajes2Child,
.mensajes2Item {
  position: absolute;
  left: 251px;
  border-radius: var(--br-lgi);
}
.mensajes2Child {
  top: 229px;
  width: 261px;
  height: 164px;
  cursor: pointer;
}
.mensajes2Item {
  top: 347px;
  background-color: var(--black-icon);
  border: 4px solid var(--white-icon);
  box-sizing: border-box;
  width: 1159px;
  height: 733px;
}
.mensajes2Inner {
  position: absolute;
  top: 388px;
  left: 694px;
  border-radius: var(--br-xl);
  background-color: var(--white-icon);
  width: 678px;
  height: 657px;
}
.daDeLa {
  position: absolute;
  top: 505px;
  left: 960px;
  color: var(--ttulos-textos);
}
.rectangleDiv {
  position: absolute;
  top: 388px;
  left: 694px;
  border-radius: var(--br-xl);
  background-color: var(--cta);
  width: 678px;
  height: 95px;
}
.ellipseDiv {
  position: absolute;
  top: 397px;
  left: 1267px;
  border-radius: 50%;
  background-color: var(--white-icon);
  border: 2px solid var(--black-icon);
  box-sizing: border-box;
  width: 88px;
  height: 79px;
}
.groupIcon {
  position: absolute;
  top: 415px;
  left: 1287px;
  width: 48.66px;
  height: 40.46px;
}
.mensajes2Child1,
.mensajes2Child2 {
  position: absolute;
  top: 543px;
  left: 720px;
  border-radius: 50%;
  background-color: var(--white-icon);
  border: 2px solid var(--black-icon);
  box-sizing: border-box;
  width: 52px;
  height: 47px;
}
.mensajes2Child2 {
  top: 797px;
  left: 728px;
}
.mensajes2Child3,
.mensajes2Child4,
.mensajes2Child5 {
  position: absolute;
  top: 553.88px;
  left: 732.05px;
  width: 28.29px;
  height: 23.52px;
}
.mensajes2Child4,
.mensajes2Child5 {
  top: 807.88px;
  left: 740.05px;
}
.mensajes2Child5 {
  top: 588px;
  left: 791px;
  border-radius: var(--br-3xs);
  background-color: var(--black-icon);
  width: 259px;
  height: 54px;
}
.mensajes2Child6 {
  top: 656px;
  left: 1082px;
  background-color: var(--white-icon);
  border: 3px solid var(--black-icon);
  box-sizing: border-box;
  width: 265px;
  height: 60px;
}
.mensajes2Child6,
.mensajes2Child7,
.mensajes2Child8 {
  position: absolute;
  border-radius: var(--br-3xs);
}
.mensajes2Child7 {
  top: 747px;
  left: 1082px;
  background-color: var(--white-icon);
  border: 3px solid var(--black-icon);
  box-sizing: border-box;
  width: 265px;
  height: 60px;
}
.mensajes2Child8 {
  top: 842px;
  left: 799px;
  background-color: var(--black-icon);
  width: 259px;
  height: 54px;
}
.nombre01,
.nombre011 {
  position: absolute;
  top: 555px;
  left: 791px;
  display: inline-block;
  color: var(--ttulos-textos);
  width: 100px;
  height: 22px;
}
.nombre011 {
  top: 809px;
  left: 799px;
}
.mensaje00011 {
  position: absolute;
  top: 598px;
  left: 798px;
  color: var(--white-icon);
}
.mensaje00012,
.mensaje00013,
.mensaje00014 {
  position: absolute;
  top: 675px;
  left: 1201px;
}
.mensaje00013,
.mensaje00014 {
  top: 766px;
}
.mensaje00014 {
  top: 852px;
  left: 806px;
  color: var(--white-icon);
}
.hora,
.hora1,
.hora2,
.hora3 {
  position: absolute;
  top: 721px;
  left: 1085px;
  font-size: var(--font-size-mini);
  color: var(--ttulos-textos);
}
.hora1,
.hora2,
.hora3 {
  top: 812px;
}
.hora2,
.hora3 {
  top: 650px;
  left: 1006px;
}
.hora3 {
  top: 904px;
  left: 1014px;
}
.mensajes2Child9 {
  position: absolute;
  top: 949px;
  left: 694px;
  border-radius: var(--br-xl);
  background-color: #d4d4cc;
  width: 678px;
  height: 96px;
}
.mensajes2Child10 {
  position: absolute;
  top: 971px;
  left: 727px;
  border-radius: var(--br-3xs);
  background-color: var(--white-icon);
  border: 2px solid var(--black-icon);
  box-sizing: border-box;
  width: 468px;
  height: 56px;
}
.escribirMensaje,
.mensajes {
  position: absolute;
  top: 990px;
  left: 754px;
  font-size: var(--font-size-mini);
  color: var(--ttulos-textos);
}
.mensajes {
  top: 86px;
  left: 255px;
  font-size: var(--principal-2-size);
  font-family: var(--principal-2);
  text-align: left;
}
.conversacin {
  position: absolute;
  top: 281px;
  left: 280px;
  font-size: var(--subttulos-size);
  font-family: var(--subttulos);
  color: var(--white-icon);
  cursor: pointer;
}
.mensajes2Child11 {
  position: absolute;
  top: 389px;
  left: 295px;
  border-radius: var(--br-xl);
  background-color: var(--white-icon);
  width: 319px;
  height: 39px;
}
.vectorIcon {
  position: absolute;
  height: 1.67%;
  width: 1.6%;
  top: 35.09%;
  right: 58.61%;
  bottom: 63.24%;
  left: 39.79%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.lineDiv {
  position: absolute;
  top: 394px;
  left: 556px;
  border-right: 2px solid var(--black-icon);
  box-sizing: border-box;
  width: 4px;
  height: 29px;
}
.mensajes2Child12 {
  position: absolute;
  top: 389px;
  left: 654px;
  border-radius: var(--br-xl);
  background-color: var(--cta);
  width: 15px;
  height: 655px;
}
.mensajes2Child13,
.mensajes2Child14,
.mensajes2Child15,
.mensajes2Child16,
.mensajes2Child17,
.mensajes2Child18 {
  position: absolute;
  top: 489px;
  left: 310px;
  border-radius: var(--br-xl);
  background-color: var(--white-icon);
  width: 307px;
  height: 65px;
}
.mensajes2Child14,
.mensajes2Child15,
.mensajes2Child16,
.mensajes2Child17,
.mensajes2Child18 {
  top: 586px;
  left: 313px;
  width: 304px;
}
.mensajes2Child15,
.mensajes2Child16,
.mensajes2Child17,
.mensajes2Child18 {
  top: 683px;
}
.mensajes2Child16,
.mensajes2Child17,
.mensajes2Child18 {
  top: 780px;
}
.mensajes2Child17,
.mensajes2Child18 {
  top: 877px;
}
.mensajes2Child18 {
  top: 975px;
}
.bsqueda {
  position: absolute;
  top: 397px;
  left: 321px;
  color: var(--ttulos-textos);
}
.mensajes2Child19,
.mensajes2Child20,
.mensajes2Child21,
.mensajes2Child22,
.mensajes2Child23,
.mensajes2Child24 {
  position: absolute;
  top: 482px;
  left: 294px;
  border-radius: 50%;
  background-color: var(--white-icon);
  border: 2px solid var(--black-icon);
  box-sizing: border-box;
  width: 88px;
  height: 79px;
}
.mensajes2Child20,
.mensajes2Child21,
.mensajes2Child22,
.mensajes2Child23,
.mensajes2Child24 {
  top: 579px;
  left: 297px;
}
.mensajes2Child21,
.mensajes2Child22,
.mensajes2Child23,
.mensajes2Child24 {
  top: 676px;
}
.mensajes2Child22,
.mensajes2Child23,
.mensajes2Child24 {
  top: 773px;
}
.mensajes2Child23,
.mensajes2Child24 {
  top: 870px;
}
.mensajes2Child24 {
  top: 968px;
}
.nombre1,
.nombre2,
.nombre3,
.nombre4,
.nombre5,
.nombre6 {
  position: absolute;
  top: 493px;
  left: 389px;
  font-size: var(--font-size-xl);
  display: inline-block;
  width: 96px;
  height: 21px;
}
.nombre2,
.nombre3,
.nombre4,
.nombre5,
.nombre6 {
  top: 590px;
  left: 392px;
}
.nombre3,
.nombre4,
.nombre5,
.nombre6 {
  top: 687px;
}
.nombre4,
.nombre5,
.nombre6 {
  top: 784px;
}
.nombre5,
.nombre6 {
  top: 881px;
}
.nombre6 {
  top: 979px;
}
.mensaje0001 {
  position: absolute;
  top: 520px;
  left: 393px;
  font-size: var(--font-size-xs);
}
.mensaje0002,
.mensaje0003,
.mensaje0004,
.mensaje0005,
.mensaje0006 {
  position: absolute;
  top: 617px;
  left: 396px;
  font-size: var(--font-size-xs);
}
.mensaje0003,
.mensaje0004,
.mensaje0005,
.mensaje0006 {
  top: 714px;
}
.mensaje0004,
.mensaje0005,
.mensaje0006 {
  top: 811px;
}
.mensaje0005,
.mensaje0006 {
  top: 908px;
}
.mensaje0006 {
  top: 1006px;
}
.horaOFecha,
.horaOFecha1,
.horaOFecha2,
.horaOFecha3,
.horaOFecha4,
.horaOFecha5 {
  position: absolute;
  top: 537px;
  left: 536px;
  font-size: var(--font-size-3xs);
  display: inline-block;
  width: 68px;
  height: 13px;
}
.horaOFecha1,
.horaOFecha2,
.horaOFecha3,
.horaOFecha4,
.horaOFecha5 {
  top: 634px;
  left: 539px;
}
.horaOFecha2,
.horaOFecha3,
.horaOFecha4,
.horaOFecha5 {
  top: 731px;
}
.horaOFecha3,
.horaOFecha4,
.horaOFecha5 {
  top: 828px;
}
.horaOFecha4,
.horaOFecha5 {
  top: 925px;
}
.horaOFecha5 {
  top: 1023px;
}
.mensajes2Child25,
.mensajes2Child26,
.mensajes2Child27 {
  position: absolute;
  top: 500px;
  left: 314px;
  width: 48.66px;
  height: 40.46px;
}
.mensajes2Child26,
.mensajes2Child27 {
  top: 597px;
  left: 317px;
}
.mensajes2Child27 {
  top: 694px;
}
.mensajes2Child28,
.mensajes2Child29,
.mensajes2Child30,
.nombre11 {
  position: absolute;
  top: 791px;
  left: 317px;
  width: 48.66px;
  height: 40.46px;
}
.mensajes2Child29,
.mensajes2Child30,
.nombre11 {
  top: 888px;
}
.mensajes2Child30,
.nombre11 {
  top: 986px;
}
.nombre11 {
  top: 429px;
  left: 1134px;
  font-size: var(--subtitulos2-size);
  font-family: var(--subttulos);
  text-align: right;
  display: inline-block;
  width: 120px;
  height: 23px;
}
.mensajes2Child31 {
  position: absolute;
  top: 972px;
  left: 1241px;
  border-radius: var(--br-xl);
  background-color: var(--cta);
  border: 3px solid var(--black-icon);
  box-sizing: border-box;
  width: 106px;
  height: 56px;
}
.vectorIcon1 {
  position: absolute;
  top: 985px;
  left: 1276px;
  width: 36.01px;
  height: 29.65px;
}
.mensajes2Child32 {
  position: absolute;
  top: 0;
  left: 0;
  width: 164px;
  height: 815px;
}
.mensajes2 {
  position: relative;
  background: linear-gradient(180deg, #fff, #f8f69b);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 1137px;
  overflow: hidden;
  text-align: center;
  font-size: var(--textos-size);
  color: var(--black-icon);
  font-family: var(--textos);
}
