.solicitudes3Child,
.solicitudes3Inner,
.solicitudes3Item {
  position: absolute;
  top: 255px;
  left: 1134px;
  border-radius: var(--br-lgi);
  width: 253px;
  height: 156px;
  cursor: pointer;
}
.solicitudes3Inner,
.solicitudes3Item {
  top: 252px;
  left: 255px;
}
.solicitudes3Inner {
  top: 255px;
  left: 548px;
}
.rectangleDiv,
.rectangleIcon {
  position: absolute;
  top: 229px;
  left: 837px;
  border-radius: var(--br-lgi);
  width: 261px;
  height: 164px;
}
.rectangleDiv {
  top: 346px;
  left: 251px;
  background-color: var(--black-icon);
  border: 4px solid var(--white-icon);
  box-sizing: border-box;
  width: 1159px;
  height: 601px;
}
.vectorIcon,
.vectorIcon1,
.vectorIcon2 {
  position: absolute;
  height: 5.66%;
  width: 4.03%;
  top: 57.03%;
  right: 19.31%;
  bottom: 37.3%;
  left: 76.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon1,
.vectorIcon2 {
  top: 67.38%;
  bottom: 26.95%;
}
.vectorIcon2 {
  top: 77.83%;
  bottom: 16.5%;
}
.solicitudes {
  position: absolute;
  top: 86px;
  left: 255px;
  font-size: var(--principal-2-size);
  font-family: var(--principal-2);
  color: var(--ttulos-textos);
  text-align: left;
}
.cancelar,
.enviar,
.solicitudesOcultas {
  position: absolute;
  top: 395px;
  left: 320px;
  color: var(--color-white);
}
.cancelar,
.enviar {
  top: 479px;
  left: 1243px;
  font-size: var(--subtitulos2-size);
}
.cancelar {
  left: 1078px;
}
.solicitudes3Child1 {
  position: absolute;
  top: 408px;
  left: 989px;
  background-color: var(--white-icon);
  width: 5px;
  height: 514px;
}
.solicitudes3Child2,
.solicitudes3Child3,
.solicitudes3Child4 {
  position: absolute;
  top: 577px;
  left: 322px;
  border-radius: var(--br-xl);
  background-color: var(--white-icon);
  width: 588px;
  height: 65px;
}
.solicitudes3Child3,
.solicitudes3Child4 {
  top: 684px;
}
.solicitudes3Child4 {
  top: 791px;
}
.ellipseDiv,
.solicitudes3Child5,
.solicitudes3Child6 {
  position: absolute;
  top: 570px;
  left: 306px;
  border-radius: 50%;
  background-color: var(--white-icon);
  border: 2px solid var(--black-icon);
  box-sizing: border-box;
  width: 88px;
  height: 79px;
}
.solicitudes3Child5,
.solicitudes3Child6 {
  top: 677px;
}
.solicitudes3Child6 {
  top: 784px;
}
.nombreYApellido,
.nombreYApellido1,
.nombreYApellido2 {
  position: absolute;
  top: 598px;
  left: 425px;
  font-size: var(--font-size-xl);
  font-family: var(--textos);
}
.nombreYApellido1,
.nombreYApellido2 {
  top: 705px;
}
.nombreYApellido2 {
  top: 812px;
}
.groupIcon,
.solicitudes3Child7,
.solicitudes3Child8 {
  position: absolute;
  top: 588px;
  left: 326px;
  width: 48.66px;
  height: 40.46px;
}
.solicitudes3Child7,
.solicitudes3Child8 {
  top: 695px;
}
.solicitudes3Child8 {
  top: 802px;
}
.lineDiv,
.solicitudes3Child10,
.solicitudes3Child9 {
  position: absolute;
  top: 593px;
  left: 778px;
  border-right: 2px solid var(--black-icon);
  box-sizing: border-box;
  width: 4px;
  height: 40px;
}
.solicitudes3Child10,
.solicitudes3Child9 {
  top: 700px;
}
.solicitudes3Child10 {
  top: 807px;
}
.fechaOHora,
.fechaOHora1,
.fechaOHora2 {
  position: absolute;
  top: 600px;
  left: 793px;
  font-size: var(--textos-size);
  font-family: var(--textos);
}
.fechaOHora1,
.fechaOHora2 {
  top: 707px;
}
.fechaOHora2 {
  top: 814px;
}
.solicitudes3Child11,
.solicitudes3Child12,
.solicitudes3Child13 {
  position: absolute;
  top: 578px;
  left: 1224px;
  border-radius: var(--br-xl);
  background-color: var(--cta);
  width: 114px;
  height: 70px;
}
.solicitudes3Child12,
.solicitudes3Child13 {
  top: 685px;
}
.solicitudes3Child13 {
  top: 791px;
}
.solicitudes3Child14,
.solicitudes3Child15,
.solicitudes3Child16,
.vectorIcon3,
.vectorIcon4,
.vectorIcon5 {
  position: absolute;
  height: 2.65%;
  width: 1.88%;
  top: 58.59%;
  right: 20.41%;
  bottom: 38.76%;
  left: 77.71%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.solicitudes3Child15,
.solicitudes3Child16,
.vectorIcon3,
.vectorIcon4,
.vectorIcon5 {
  top: 68.95%;
  bottom: 28.41%;
}
.solicitudes3Child16,
.vectorIcon3,
.vectorIcon4,
.vectorIcon5 {
  top: 79.3%;
  bottom: 18.06%;
}
.vectorIcon3,
.vectorIcon4,
.vectorIcon5 {
  height: 2.9%;
  width: 2.5%;
  top: 68.95%;
  right: 9.51%;
  bottom: 28.16%;
  left: 87.99%;
}
.vectorIcon4,
.vectorIcon5 {
  top: 79.3%;
  bottom: 17.81%;
}
.vectorIcon5 {
  top: 58.5%;
  bottom: 38.61%;
}
.enviadas,
.guardadas,
.recibidas {
  position: absolute;
  top: 290px;
  left: 307px;
  cursor: pointer;
}
.enviadas,
.guardadas {
  left: 604px;
}
.guardadas {
  left: 1175px;
}
.ocultas {
  position: absolute;
  top: 274px;
  left: 910px;
  color: var(--white-icon);
}
.ocultarLa {
  margin: 0;
}
.ocultarLaContainer {
  position: absolute;
  top: 465px;
  left: 307px;
  font-size: var(--textos-size);
  font-family: var(--textos);
  color: var(--white-icon);
  text-align: left;
  display: inline-block;
  width: 603px;
}
.solicitudes3Child17 {
  position: absolute;
  top: 0;
  left: 0;
  width: 164px;
  height: 815px;
}
.solicitudes3 {
  position: relative;
  background: linear-gradient(180deg, #fff, #f8f69b);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: var(--subttulos-size);
  color: var(--black-icon);
  font-family: var(--subttulos);
}
