.friendsIconStatusDefault {
align-items: center;
display: inline-flex;
flex: 0 0 auto;
flex-direction: column;
gap: 10px;
justify-content: center;
position: relative;
}

.friendsIconStatusSelect {
align-items: center;
display: inline-flex;
flex-direction: column;
gap: 10px;
justify-content: center;
padding: 10px;
position: relative;
}

.friendsIconSelect {
align-items: center;
display: inline-flex;
flex: 0 0 auto;
flex-direction: column;
gap: 10px;
justify-content: center;
position: relative;
}

.rectangle {
background-color: #ffffff;
border-radius: 26px;
height: 58.71px;
position: relative;
width: 70px;
}

.bochFriendIcon {
height: 36px;
left: 5px;
position: absolute;
top: 11px;
width: 61px;
}